<%= form_for :session do |f| %>
<div class="field form-group centered" data-step="1" data-intro="Sélectionnez le texte à télécharger puis cliquez une première fois sur Génération afin d'importer son contenu dans la zone de texte. Modifiez le texte importé au besoin, sélectionnez vos options de génération puis cliquez une nouvelle fois sur Génération pour obtenir un texte à trous. NB : les mots qui n'appartiennent pas au dictionnaire apparaissent en majuscule dans la zone de texte." data-position='right'> 																
	<a class="btn btn-large btn-default pull-right" href="javascript:void(0);" onclick="this.disabled='disabled';javascript:introJs().start();">Besoin d'aide ?</a>
	<h5>Téléchargez un document depuis votre machine (png, word, pdf)</h5>
	<% f.label :inputFile, class: 'btn btn-default centered' %>
	<%= f.file_field :inputFile, accept: 'image/png,image/jpg,image/jpeg,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.odt,.ods,.rtf,.pdf,text/plain', :multiple => false, class: 'btn btn-default centered' %>
</div>
<br><h4>- OU -</h4><br>
<div class="field form-group" data-step="2" data-intro="Vous pouvez directement saisir ou coller un texte dans la zone de texte. Sélectionnez ensuite vos options de génération, puis cliquez sur Génération pour obtenir un texte à trous." data-position='right'>
	<h5>Insérez directement votre texte</h5>
	<%= f.submit "RAZ zone de texte", class: 'btn btn-default inverse pull-right', onClick: "this.form.reset(); document.getElementById('session_inputText').value=''" %><br><br>
	<% f.label :inputText, class: 'control-label' %>
	<%= f.text_area :inputText, class: 'form-control', size: '30x10' %>
	<div></div>
</div>
</p>
<ul class="list-inline pull-right">
	<br>
	<li><button type="submit" class="btn btn-default next-step"> <i class="fa fa-caret-square-o-right"></i> Étape suivante</button></li>
</ul>
<% end %>