
<%= form_for(:session) do |f| %>

<div class="offer">
	<div class="offer-content">
		<div class="field form-group centered">
			<h4><i class="fa fa-check"></i> Génération du QCM effectuée </h4>
			<br>
			<div id="tat-back">
			  <% i = 0 %>
			  <% h = 0 %>
			  <% qcm_content = @qcm.qcm_content.split (session[:splitter]) %>
			  <% qcm_choices = @qcm.qcm_choices.split (session[:splitter]) %>
			  <% j = qcm_content.count %>
			  <% qcm_content.each do |a| %>
			  <% 	i=i+1 %>
			  <%	if (a.nil? || a == '')%>
			  <%=	 	f.label a %>
			  <%	else%>
			  <%= 		f.label i, a %>
			  <%	end%>
			  <% 	if (i < j) %>
			  <%		array_tmp = Array.new %>
			  <%            if !qcm_choices[h].include? ":" and !qcm_choices[h].include? "-" then array_tmp.push qcm_choices[h] end %>
			  <%            if !qcm_choices[h+1].include? ":" and !qcm_choices[h+1].include? "-" then array_tmp.push qcm_choices[h+1] end %>
			  <%            if !qcm_choices[h+2].include? ":" and !qcm_choices[h+2].include? "-" then array_tmp.push qcm_choices[h+2] end %>
			  <%            h = h+3 %>
			  <%=		f.select(i,  array_tmp, { include_blank: false}, { style: "color: black" })%>
			  <% 	end %>
			  <% end %>
			</div>
		</div>
	</div>
</div>
<ul class="list-inline pull-right">
	<br>
	<li><button type="submit" class="btn btn-default next-step"> <i class="fa fa-caret-square-o-right"></i> Passer à la correction</button></li>
</ul>
<% end %>
