<!DOCTYPE html>
<html>
<head>
	<title>Wernicke Zone</title>

	<link rel="stylesheet" href="../assets/bootstrap.css">
	<link rel="stylesheet" href="../assets/animate.css">
	<link rel="stylesheet" href="../assets/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/font-awesome.css">
	<link rel="stylesheet" href="../assets/slick.css">
	<link rel="stylesheet" href="../assets/settings.css">    
	<link rel="stylesheet" href="../assets/eco_outils.css">
	<link rel="stylesheet" href="../assets/tat.css">
	<link rel="stylesheet" href="../assets/introjs.css">
	<script src="../assets/application.js"></script>
	<script type="text/javascript" src="../assets/modernizr.custom.32033.js"></script>
	<script src="../assets/jquery-1.11.1.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<script src="../assets/slick.min.js"></script>
	<script src="../assets/placeholdem.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.plugins.min.js"></script>
	<script src="../assets/rs-plugin/jquery.themepunch.revolution.min.js"></script>
	<script src="../assets/waypoints.min.js"></script>
	<script src="../assets/scripts_outils.js"></script>
	<script src="../assets/intro.js"></script>
	<%= favicon_link_tag 'favicon.png' %>
	<%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/menu" %>
  
	<div class="wrapper">
	  <section>
	    <h1><center><br>QCM, création en cours.</center></h1>
	  </section>
	  <%= render "layouts/footer" %>
	</div>
	<script>
		$(document).ready(function() {
			appMaster.preLoader();
		});
	</script>
	</body>
</html>
