<footer>
	<div class="container">
		<div class="row" style="">
			<a href="#" class="scrollpoint sp-effect3">
				<%= image_tag "eco/logo.png", class: "logo" %>
			</a>
			<div class="social">
				<a href="https://twitter.com/WernickeZone" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
				<a href="https://plus.google.com/u/0/b/103543670315413327864/103543670315413327864/posts/p/pub" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
				<a href="https://www.facebook.com/WernickeZone/" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg inverse"></i></a>
			</div>
			<div class="rights">
				<p>Copyright &copy; 2016</p>
			</div>
		</div>
	</div>
</footer>
