<div class="pre-loader">
	<div class="load-con">
		<%= image_tag "eco/logo.png" , class: "animated fadeInDown" %>
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
</div>

<header>
	<nav class="navbar navbar-default navbar-fixed-top scrolled" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="fa fa-bars fa-lg"></span>
				</button>
				<a class="navbar-brand" href="landing">
					<%= image_tag "eco/logo.png" , class: "animated fadeInDown" %>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li> <%= link_to "landing", class:"getApp" do %><i class="fa fa-home"></i> Retour à l'accueil<% end %>
</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-->
	</nav>
</header>